{% extends 'base.html' %}
{% block title %}{{ producto.nombre }}{% endblock %}
{% block content %}
<div class="container mt-4">
  <div class="row">
    <div class="col-md-6">
      <img src="{{ url_for('static', filename='uploads/productos/' ~ producto.imagen) }}" class="img-fluid">
    </div>
    <div class="col-md-6">
      <h2>{{ producto.nombre }}</h2>
      <p>{{ producto.descripcion }}</p>
      <h4>S/. {{ producto.precio }}</h4>
      <p>Stock: {{ producto.stock }}</p>
      <button class="btn btn-success">Añadir al carrito</button>
    </div>
  </div>
</div>
{% endblock %}
