<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}CRUNEVO{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    {% block head_extra %}{% endblock %}
</head>
<body>
    {% set is_desktop = request.user_agent.platform in ['linux', 'windows', 'macos'] %}
    {% if not is_desktop and request.endpoint != 'main.index' %}
        {% include 'components/sidebar_icons.html' %}
    {% endif %}
    {% include 'navbar.html' %}

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    {% set is_feed = current_user.is_authenticated and request.endpoint == 'main.index' %}
    <div class="container-fluid p-0 {% if is_feed and not is_desktop %}main-container d-flex{% endif %}">
        {% if is_feed and not is_desktop %}
            {% include 'components/sidebar_left.html' %}
        {% endif %}
        <div class="feed-container w-100 {% if not is_feed %}full-width{% endif %}">
            {% block content %}{% endblock %}
        </div>
        {% if is_feed and not is_desktop %}
            {% include 'components/sidebar_right.html' %}
        {% endif %}
    </div>
    {% include 'components/toast.html' %}
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    {% block scripts %}{% endblock %}
</body>
</html>

